<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <style>
            h1 {
                font-size: 28pt;
                text-align:center;
                display:block;
                margin-top: 15%;
            }
            form {
                font-size: 28pt;
                text-align:center;
                display:block;
            }
        </style>
    </head>
    <body>
        <h1>Sign In</h1>
        <form method="POST">
            <input name="u" placeholder="Username">
            <input name="p" placeholder="Password" type="password">
            <input type="submit" value="Sign In">
        </form>
    </body>
</html>
